In [2]:
""" Example script for predicting columns of tables, demonstrating simple use-case """

from autogluon.tabular import TabularDataset, TabularPredictor


# Training time:
train_data = TabularDataset('./datasets/Corona_NLP_train.csv')  # can be local CSV file as well, returns Pandas DataFrame
# train_data = train_data.head(500)  # subsample for faster demo
train_data.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [4]:
train_data.tail(100)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
40289,44852,89804,crypto,13-04-2020,China amp US Share S P Outcomes China losing w...,Extremely Positive
40290,44853,89805,"New York, USA",13-04-2020,Supermarket Madness! https://t.co/2oYivZtfcn\n...,Negative
40291,44854,89806,"Gulfport, MS",13-04-2020,Oil rig workers hit with one-two punch of #cor...,Negative
40292,44855,89807,"Jakarta Timur, DKI Jakarta",13-04-2020,"Funny that one of my ""friend"" keeps on preachi...",Extremely Positive
40293,44856,89808,"San Diego, CA",13-04-2020,Grocery store workers want more protections in...,Positive
...,...,...,...,...,...,...
40384,44950,89902,NaN,13-04-2020,@MrSilverScott you are definitely my man. I fe...,Extremely Positive
40385,44951,89903,"Wellington City, New Zealand",13-04-2020,Airline pilots offering to stock supermarket s...,Neutral
40386,44952,89904,NaN,13-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
40387,44953,89905,NaN,13-04-2020,You know itÂ’s getting tough when @KameronWilds...,Positive
40388,44954,89906,NaN,13-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral

In [11]:
label = 'Sentiment'  # specifies which column do we want to predict
save_path = 'sentiment_analysis_covid/'  # where to save trained models

In [7]:
dl = int(40388*0.8)

In [4]:
# splitting dataframe in a particular size
df_split = train_data.sample(frac=1,random_state=200)
df_split.reset_index()

,index,id,keyword,location,text,target
0,157,225,airplane%20accident,"Lehigh Valley, PA",Strict liability in the context of an airplane...,1
1,88,130,accident,"Manchester, NH",Accident left lane blocked in #Manchester on R...,1
2,383,552,arson,"Charlotte, NC",Add Familia to the arson squad.,0
3,125,180,aftershock,304,Sometimes you face difficulties not because yo...,0
4,445,644,arsonist,NaN,Big Top Burning The True Story Of An Arsonist ...,1
...,...,...,...,...,...,...
495,298,438,apocalypse,Las Vegas,I know where to go when the zombies take over!...,0
496,324,470,armageddon,Nowhere. Everywhere.,@RohnertParkDPS You're another one for the his...,0
497,272,396,apocalypse,ColoRADo,I'm gonna fight Taylor as soon as I get there.,0
498,105,153,aftershock,304,'There is no victory at bargain basement price...,0
499,282,412,apocalypse,Oakland,Julie + R is the apocalypse version of Romeo +...,0

In [8]:
train_data_d = train_data.iloc[:dl,]

In [6]:
train_data.tail()

,id,keyword,location,text,target
337,484,armageddon,NaN,#Christians United for #Israel (#CUFI): Jews s...,0
477,687,attack,NaN,Heart disease prevention: What about secondhan...,0
234,334,annihilated,NaN,@TomcatArts thus explaining why you were all a...,1
220,313,annihilated,NaN,Cop pulls drunk driver to safety SECONDS befor...,1
382,551,arson,USA,Thousands attend a rally organized by Peace No...,1

In [10]:
test_data = train_data.iloc[dl:,]

In [9]:
test_data.tail()

,id,keyword,location,text,target
298,438,apocalypse,Las Vegas,I know where to go when the zombies take over!...,0
324,470,armageddon,Nowhere. Everywhere.,@RohnertParkDPS You're another one for the his...,0
272,396,apocalypse,ColoRADo,I'm gonna fight Taylor as soon as I get there.,0
105,153,aftershock,304,'There is no victory at bargain basement price...,0
282,412,apocalypse,Oakland,Julie + R is the apocalypse version of Romeo +...,0

In [12]:
predictor = TabularPredictor(label=label, path=save_path).fit(train_data, time_limit=3600, presets='best_quality')
# NOTE: Default settings above are intended to ensure reasonable runtime at the cost of accuracy. To maximize predictive accuracy, do this instead:
# predictor = TabularPredictor(label=label, eval_metric=YOUR_METRIC_NAME, path=save_path).fit(train_data, presets='best_quality')
results = predictor.fit_summary()

Presets specified: ['best_quality']
Beginning AutoGluon training ... Time limit = 3600s
AutoGluon will save models to "sentiment_analysis_covid/"
AutoGluon Version:  0.2.0
Train Data Rows:    40389
Train Data Columns: 5
Preprocessing data ...
AutoGluon infers your prediction problem is: 'multiclass' (because dtype of label-column == object).
	6 unique label values:  ['Neutral', 'Positive', 'Extremely Negative', 'Negative', 'Extremely Positive', 'w']
	If 'multiclass' is not the correct problem_type, please manually specify the problem_type argument in fit() (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Warning: Some classes in the training set have fewer than 10 examples. AutoGluon will only keep 5 out of 6 classes for training and will not try to predict the rare classes. To keep more classes, increase the number of datapoints from these rare classes in the training data or reduce label_count_threshold.
Fraction of data from classes with at least 10 examples that will be kept for training models: 0.9999752407833816
Train Data Class Count: 5
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    481273.36 MB
	Train Data (Original)  Memory Usage: 16.81 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
		Fitting DatetimeFeatureGenerator...
		Fitting TextSpecialFeatureGenerator...
			Fitting BinnedFeatureGenerator...
			Fitting DropDuplicatesFeatureGenerator...
		Fitting TextNgramFeatureGenerator...
			Fitting CountVectorizer for text features: ['OriginalTweet']
			CountVectorizer fit with vocabulary size = 7818
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('int', [])                        : 2 | ['UserName', 'ScreenName']
		('object', [])                     : 1 | ['Location']
		('object', ['datetime_as_object']) : 1 | ['TweetAt']
		('object', ['text'])               : 1 | ['OriginalTweet']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])                    :    1 | ['Location']
		('int', [])                         :    2 | ['UserName', 'ScreenName']
		('int', ['binned', 'text_special']) :   38 | ['OriginalTweet.char_count', 'OriginalTweet.word_count', 'OriginalTweet.capital_ratio', 'OriginalTweet.lower_ratio', 'OriginalTweet.digit_ratio', ...]
		('int', ['datetime_as_int'])        :    1 | ['TweetAt']
		('int', ['text_ngram'])             : 7819 | ['__nlp__.00', '__nlp__.000', '__nlp__.000 to', '__nlp__.10', '__nlp__.10 000', ...]
	38.3s = Fit runtime
	5 features in original data used to generate 7861 features in processed data.
	Train Data (Processed) Memory Usage: 318.6 MB (0.1% of available memory)
Data preprocessing and feature engineering runtime = 39.61s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric argument of fit()
Fitting model: KNeighborsUnif_BAG_L1 ... Training model for up to 2372.98s of the 3560.08s of remaining time.
	0.2178	 = Validation accuracy score
	3.8s	 = Training runtime
	0.23s	 = Validation runtime
Fitting model: KNeighborsDist_BAG_L1 ... Training model for up to 2368.37s of the 3555.47s of remaining time.
	0.2252	 = Validation accuracy score
	3.79s	 = Training runtime
	0.23s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L1 ... Training model for up to 2363.72s of the 3550.82s of remaining time.
	Ran out of time, stopping training early.
	Time limit exceeded... Skipping NeuralNetFastAI_BAG_L1.
Fitting model: LightGBMXT_BAG_L1 ... Training model for up to 1833.3s of the 3020.4s of remaining time.

[1000]	train_set's multi_error: 0.0869876	valid_set's multi_error: 0.345468

	0.6452	 = Validation accuracy score
	335.49s	 = Training runtime
	5.55s	 = Validation runtime
Fitting model: LightGBM_BAG_L1 ... Training model for up to 1490.47s of the 2677.57s of remaining time.
	0.635	 = Validation accuracy score
	362.4s	 = Training runtime
	5.49s	 = Validation runtime
Fitting model: RandomForestGini_BAG_L1 ... Training model for up to 1120.57s of the 2307.67s of remaining time.
	0.4789	 = Validation accuracy score
	39.93s	 = Training runtime
	152.14s	 = Validation runtime
Fitting model: RandomForestEntr_BAG_L1 ... Training model for up to 926.22s of the 2113.32s of remaining time.
	0.4729	 = Validation accuracy score
	36.17s	 = Training runtime
	153.84s	 = Validation runtime
Fitting model: CatBoost_BAG_L1 ... Training model for up to 733.59s of the 1920.69s of remaining time.
	Many features detected (7861), dynamically setting 'colsample_bylevel' to 0.12721027859051012 to speed up training (Default = 1).
	To disable this functionality, explicitly specify 'colsample_bylevel' in the model hyperparameters.
	Many features detected (7861), dynamically setting 'colsample_bylevel' to 0.12721027859051012 to speed up training (Default = 1).
	To disable this functionality, explicitly specify 'colsample_bylevel' in the model hyperparameters.
	Many features detected (7861), dynamically setting 'colsample_bylevel' to 0.12721027859051012 to speed up training (Default = 1).
	To disable this functionality, explicitly specify 'colsample_bylevel' in the model hyperparameters.
	Many features detected (7861), dynamically setting 'colsample_bylevel' to 0.12721027859051012 to speed up training (Default = 1).
	To disable this functionality, explicitly specify 'colsample_bylevel' in the model hyperparameters.
	Many features detected (7861), dynamically setting 'colsample_bylevel' to 0.12721027859051012 to speed up training (Default = 1).
	To disable this functionality, explicitly specify 'colsample_bylevel' in the model hyperparameters.
	Many features detected (7861), dynamically setting 'colsample_bylevel' to 0.12721027859051012 to speed up training (Default = 1).
	To disable this functionality, explicitly specify 'colsample_bylevel' in the model hyperparameters.
	Many features detected (7861), dynamically setting 'colsample_bylevel' to 0.12721027859051012 to speed up training (Default = 1).
	To disable this functionality, explicitly specify 'colsample_bylevel' in the model hyperparameters.
	Many features detected (7861), dynamically setting 'colsample_bylevel' to 0.12721027859051012 to speed up training (Default = 1).
	To disable this functionality, explicitly specify 'colsample_bylevel' in the model hyperparameters.
	Many features detected (7861), dynamically setting 'colsample_bylevel' to 0.12721027859051012 to speed up training (Default = 1).
	To disable this functionality, explicitly specify 'colsample_bylevel' in the model hyperparameters.
	Many features detected (7861), dynamically setting 'colsample_bylevel' to 0.12721027859051012 to speed up training (Default = 1).
	To disable this functionality, explicitly specify 'colsample_bylevel' in the model hyperparameters.
	0.5634	 = Validation accuracy score
	427.81s	 = Training runtime
	6.1s	 = Validation runtime
Fitting model: ExtraTreesGini_BAG_L1 ... Training model for up to 298.76s of the 1485.85s of remaining time.
	0.5033	 = Validation accuracy score
	49.47s	 = Training runtime
	164.88s	 = Validation runtime
Fitting model: ExtraTreesEntr_BAG_L1 ... Training model for up to 81.75s of the 1268.85s of remaining time.
	Warning: Reducing model 'n_estimators' from 300 -> 146 due to low time. Expected time usage reduced from 161.4s -> 81.7s...
	0.4816	 = Validation accuracy score
	27.13s	 = Training runtime
	83.28s	 = Validation runtime
Completed 1/20 k-fold bagging repeats ...
Fitting model: WeightedEnsemble_L2 ... Training model for up to 359.97s of the 1156.45s of remaining time.
	0.6452	 = Validation accuracy score
	5.73s	 = Training runtime
	0.0s	 = Validation runtime
Fitting model: KNeighborsUnif_BAG_L2 ... Training model for up to 1150.29s of the 1149.9s of remaining time.
	0.2375	 = Validation accuracy score
	1.67s	 = Training runtime
	48.47s	 = Validation runtime
Fitting model: KNeighborsDist_BAG_L2 ... Training model for up to 1098.61s of the 1098.22s of remaining time.
	0.2743	 = Validation accuracy score
	1.63s	 = Training runtime
	48.62s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L2 ... Training model for up to 1047.07s of the 1046.68s of remaining time.
	Ran out of time, stopping training early.
	Time limit exceeded... Skipping NeuralNetFastAI_BAG_L2.
Fitting model: LightGBMXT_BAG_L2 ... Training model for up to 687.92s of the 687.52s of remaining time.
	0.7006	 = Validation accuracy score
	147.17s	 = Training runtime
	3.36s	 = Validation runtime
Fitting model: LightGBM_BAG_L2 ... Training model for up to 536.66s of the 536.26s of remaining time.
	0.6992	 = Validation accuracy score
	135.18s	 = Training runtime
	3.3s	 = Validation runtime
Fitting model: RandomForestGini_BAG_L2 ... Training model for up to 397.54s of the 397.15s of remaining time.
	0.6818	 = Validation accuracy score
	26.75s	 = Training runtime
	158.21s	 = Validation runtime
Fitting model: RandomForestEntr_BAG_L2 ... Training model for up to 210.67s of the 210.28s of remaining time.
	0.6804	 = Validation accuracy score
	23.96s	 = Training runtime
	157.21s	 = Validation runtime
Fitting model: CatBoost_BAG_L2 ... Training model for up to 27.35s of the 26.96s of remaining time.
	Many features detected (7906), dynamically setting 'colsample_bylevel' to 0.1264862130027827 to speed up training (Default = 1).
	To disable this functionality, explicitly specify 'colsample_bylevel' in the model hyperparameters.
	Time limit exceeded... Skipping CatBoost_BAG_L2.
Fitting model: ExtraTreesGini_BAG_L2 ... Training model for up to 22.7s of the 22.31s of remaining time.
	Warning: Reducing model 'n_estimators' from 300 -> 42 due to low time. Expected time usage reduced from 130.6s -> 22.7s...
	0.6536	 = Validation accuracy score
	12.54s	 = Training runtime
	23.0s	 = Validation runtime
Completed 1/20 k-fold bagging repeats ...
Fitting model: WeightedEnsemble_L3 ... Training model for up to 359.98s of the -14.3s of remaining time.
	0.7007	 = Validation accuracy score
	4.61s	 = Training runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 3620.0s ...
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("sentiment_analysis_covid/")

*** Summary of fit() ***
Estimated performance of each model:
                      model  score_val  pred_time_val     fit_time  pred_time_val_marginal  fit_time_marginal  stack_level  can_infer  fit_order
0       WeightedEnsemble_L3   0.700654     578.414408  1572.945642                0.004621           4.609092            3       True         18
1         LightGBMXT_BAG_L2   0.700579     575.105938  1433.159260                3.364214         147.165360            2       True         13
2           LightGBM_BAG_L2   0.699193     575.045573  1421.171190                3.303849         135.177290            2       True         14
3   RandomForestGini_BAG_L2   0.681811     729.951479  1312.743960              158.209755          26.750060            2       True         15
4   RandomForestEntr_BAG_L2   0.680450     728.952668  1309.958629              157.210944          23.964729            2       True         16
5     ExtraTreesGini_BAG_L2   0.653585     594.737478  1298.532691               22.995754          12.538791            2       True         17
6         LightGBMXT_BAG_L1   0.645241       5.554108   335.493617                5.554108         335.493617            1       True          3
7       WeightedEnsemble_L2   0.645241       5.558839   341.227272                0.004730           5.733654            2       True         10
8           LightGBM_BAG_L1   0.635040       5.486069   362.395304                5.486069         362.395304            1       True          4
9           CatBoost_BAG_L1   0.563360       6.102297   427.810738                6.102297         427.810738            1       True          7
10    ExtraTreesGini_BAG_L1   0.503268     164.875634    49.467565              164.875634          49.467565            1       True          8
11    ExtraTreesEntr_BAG_L1   0.481603      83.277468    27.131990               83.277468          27.131990            1       True          9
12  RandomForestGini_BAG_L1   0.478855     152.144330    39.928421              152.144330          39.928421            1       True          5
13  RandomForestEntr_BAG_L1   0.472863     153.844460    36.172904              153.844460          36.172904            1       True          6
14    KNeighborsDist_BAG_L2   0.274339     620.361601  1287.620634               48.619876           1.626734            2       True         12
15    KNeighborsUnif_BAG_L2   0.237521     620.209434  1287.664135               48.467710           1.670235            2       True         11
16    KNeighborsDist_BAG_L1   0.225191       0.229935     3.793041                0.229935           3.793041            1       True          2
17    KNeighborsUnif_BAG_L1   0.217812       0.227422     3.800319                0.227422           3.800319            1       True          1
Number of models trained: 18
Types of models trained:
{'StackerEnsembleModel_KNN', 'StackerEnsembleModel_XT', 'WeightedEnsembleModel', 'StackerEnsembleModel_RF', 'StackerEnsembleModel_LGB', 'StackerEnsembleModel_CatBoost'}
Bagging used: True  (with 10 folds)
Multi-layer stack-ensembling used: True  (with 3 levels)
Feature Metadata (Processed):
(raw dtype, special dtypes):
('category', [])                    :    1 | ['Location']
('int', [])                         :    2 | ['UserName', 'ScreenName']
('int', ['binned', 'text_special']) :   38 | ['OriginalTweet.char_count', 'OriginalTweet.word_count', 'OriginalTweet.capital_ratio', 'OriginalTweet.lower_ratio', 'OriginalTweet.digit_ratio', ...]
('int', ['datetime_as_int'])        :    1 | ['TweetAt']
('int', ['text_ngram'])             : 7819 | ['__nlp__.00', '__nlp__.000', '__nlp__.000 to', '__nlp__.10', '__nlp__.10 000', ...]
Plot summary of models saved to file: sentiment_analysis_covid/SummaryOfModels.html
*** End of fit() summary ***

In [13]:
# Inference time:
# test_data = TabularDataset('./datasets/nlp-getting-started/test.csv')  # another Pandas DataFrame
y_test = test_data[label]
test_data = test_data.drop(labels=[label], axis=1)  # delete labels from test data since we wouldn't have them in practice
print(test_data.head())

       UserName  ScreenName      Location     TweetAt  \
32310     36745       81697        Global  07-04-2020
32311     36746       81698       Chicago  07-04-2020
32312     36747       81699  Florida, USA  07-04-2020
32313     36748       81700           NaN  07-04-2020
32314     36749       81701           NaN  07-04-2020

                                                                                                                                                                                                                                                                                                              OriginalTweet
32310                                              I've been window shopping on online grocery delivery sites. Am I alone in my madness? What are you guys doing?\n\n\n\n#covid19 #covid #coronavirus #coronavirusindia #lockdown #lockdowneffect #lockdown21 #LockdownDiaries #lockdownindia #lockdowndelhi #lockedindelhi
32311  Private equity funds arenÂ’t just seeking to save the investments they already have, but to get access to more capital to invest in a period where asset prices are quite low. \n\n\n\nRead more from @matthewstoller on companies lobbying to profit from #COVID19 : https://t.co/tvGxFitfEe https://t.co/nGTzxCGago
32312                                                                                                                                                                                                   Food shopping may be as dangerous as voting in the It s confirmed at least 4 grocery store employees have died from
32313                                                                             People at the grocery store are threatening to go to blows over #SocialDistancing.\n\n\n\nMy wife asked a man if he was in line, he replied yes, then asked her to give him six feet of space. While he said please, he was being a dick.
32314                                                                                                     Promano Liquid Hand Sanitizer kills 99.99% of bacteria and removes viruses without the need of water nor soap.\n\n#COVID19 #germs #bacteria #viruses #coronavirus #handsanitizer #promano https://t.co/L1EHvGS92p

In [14]:
predictor = TabularPredictor.load(save_path)  # Unnecessary, we reload predictor just to demonstrate how to load previously-trained predictor from file
y_pred = predictor.predict(test_data)
perf = predictor.evaluate_predictions(y_true=y_test, y_pred=y_pred, auxiliary_metrics=True)

Evaluation: accuracy on test data: 0.9200396088624829
Evaluations on test data:
{
    "accuracy": 0.9200396088624829,
    "balanced_accuracy": 0.9088930852341104,
    "mcc": 0.8981982317625083
}

In [15]:
print('Accuracy = {:.2f}%'.format(perf["accuracy"] * 100))

Accuracy = 92.00%

In [16]:
test_data.tail()

,UserName,ScreenName,Location,TweetAt,OriginalTweet
40384,44950,89902,NaN,13-04-2020,"@MrSilverScott you are definitely my man. I feel like this fall when we are out and about again, we need to honor our heroes from COVID-19. You know who they are Â— our healthcare people , grocery store owners, and anyone else putting their life on the li"
40385,44951,89903,"Wellington City, New Zealand",13-04-2020,Airline pilots offering to stock supermarket shelves in #NZ lockdown #COVID-19 https://t.co/cz89uA0HNp
40386,44952,89904,NaN,13-04-2020,Response to complaint not provided citing COVID-19 related delays. Yet prompt in rejecting policy before consumer TAT is over. Way to go ?
40387,44953,89905,NaN,13-04-2020,"You know itÂ’s getting tough when @KameronWilds is rationing toilet paper #coronavirus #toiletpaper @kroger martinsville, help us out!!"
40388,44954,89906,NaN,13-04-2020,Is it wrong that the smell of hand sanitizer is starting to turn me on?\n\n\n\n#coronavirus #COVID19 #coronavirus