In [2]:
""" Example script for predicting columns of tables, demonstrating simple use-case """

from autogluon.tabular import TabularDataset, TabularPredictor


# Training time:
train_data = TabularDataset('./datasets/nlp-getting-started/train.csv')  # can be local CSV file as well, returns Pandas DataFrame
train_data = train_data.head(500)  # subsample for faster demo
print(train_data.head())
label = 'target'  # specifies which column do we want to predict
save_path = 'sentiment_analysis/'  # where to save trained models

   id keyword location                                               text  \
0   1     NaN      NaN  Our Deeds are the Reason of this #earthquake M...
1   4     NaN      NaN             Forest fire near La Ronge Sask. Canada
2   5     NaN      NaN  All residents asked to 'shelter in place' are ...
3   6     NaN      NaN  13,000 people receive #wildfires evacuation or...
4   7     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...

   target
0       1
1       1
2       1
3       1
4       1

In [4]:
# splitting dataframe in a particular size
df_split = train_data.sample(frac=1,random_state=200)
df_split.reset_index()

,index,id,keyword,location,text,target
0,157,225,airplane%20accident,"Lehigh Valley, PA",Strict liability in the context of an airplane...,1
1,88,130,accident,"Manchester, NH",Accident left lane blocked in #Manchester on R...,1
2,383,552,arson,"Charlotte, NC",Add Familia to the arson squad.,0
3,125,180,aftershock,304,Sometimes you face difficulties not because yo...,0
4,445,644,arsonist,NaN,Big Top Burning The True Story Of An Arsonist ...,1
...,...,...,...,...,...,...
495,298,438,apocalypse,Las Vegas,I know where to go when the zombies take over!...,0
496,324,470,armageddon,Nowhere. Everywhere.,@RohnertParkDPS You're another one for the his...,0
497,272,396,apocalypse,ColoRADo,I'm gonna fight Taylor as soon as I get there.,0
498,105,153,aftershock,304,'There is no victory at bargain basement price...,0
499,282,412,apocalypse,Oakland,Julie + R is the apocalypse version of Romeo +...,0

In [5]:
train_data = df_split.iloc[:400,]

In [6]:
train_data.tail()

,id,keyword,location,text,target
337,484,armageddon,NaN,#Christians United for #Israel (#CUFI): Jews s...,0
477,687,attack,NaN,Heart disease prevention: What about secondhan...,0
234,334,annihilated,NaN,@TomcatArts thus explaining why you were all a...,1
220,313,annihilated,NaN,Cop pulls drunk driver to safety SECONDS befor...,1
382,551,arson,USA,Thousands attend a rally organized by Peace No...,1

In [8]:
test_data = df_split.iloc[400:,]

In [9]:
test_data.tail()

,id,keyword,location,text,target
298,438,apocalypse,Las Vegas,I know where to go when the zombies take over!...,0
324,470,armageddon,Nowhere. Everywhere.,@RohnertParkDPS You're another one for the his...,0
272,396,apocalypse,ColoRADo,I'm gonna fight Taylor as soon as I get there.,0
105,153,aftershock,304,'There is no victory at bargain basement price...,0
282,412,apocalypse,Oakland,Julie + R is the apocalypse version of Romeo +...,0

In [10]:
predictor = TabularPredictor(label=label, path=save_path).fit(train_data, time_limit=3600, presets='best_quality')
# NOTE: Default settings above are intended to ensure reasonable runtime at the cost of accuracy. To maximize predictive accuracy, do this instead:
# predictor = TabularPredictor(label=label, eval_metric=YOUR_METRIC_NAME, path=save_path).fit(train_data, presets='best_quality')
results = predictor.fit_summary()

Presets specified: ['best_quality']
Beginning AutoGluon training ... Time limit = 3600s
AutoGluon will save models to "sentiment_analysis/"
AutoGluon Version:  0.2.0
Train Data Rows:    400
Train Data Columns: 4
Preprocessing data ...
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [1, 0]
	If 'binary' is not the correct problem_type, please manually specify the problem_type argument in fit() (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    491054.64 MB
	Train Data (Original)  Memory Usage: 0.12 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
		Fitting TextSpecialFeatureGenerator...
			Fitting BinnedFeatureGenerator...
			Fitting DropDuplicatesFeatureGenerator...
		Fitting TextNgramFeatureGenerator...
			Fitting CountVectorizer for text features: ['text']
			CountVectorizer fit with vocabulary size = 21
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('int', [])          : 1 | ['id']
		('object', [])       : 2 | ['keyword', 'location']
		('object', ['text']) : 1 | ['text']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])                    :  2 | ['keyword', 'location']
		('category', ['text_as_category'])  :  1 | ['text']
		('int', [])                         :  1 | ['id']
		('int', ['binned', 'text_special']) : 31 | ['text.char_count', 'text.word_count', 'text.capital_ratio', 'text.lower_ratio', 'text.digit_ratio', ...]
		('int', ['text_ngram'])             : 22 | ['__nlp__.accident', '__nlp__.an', '__nlp__.and', '__nlp__.armageddon', '__nlp__.attack', ...]
	0.6s = Fit runtime
	4 features in original data used to generate 57 features in processed data.
	Train Data (Processed) Memory Usage: 0.03 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.61s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric argument of fit()
Fitting model: KNeighborsUnif_BAG_L1 ... Training model for up to 3599.38s of the 3599.38s of remaining time.
	0.6575	 = Validation accuracy score
	0.0s	 = Training runtime
	0.12s	 = Validation runtime
Fitting model: KNeighborsDist_BAG_L1 ... Training model for up to 3599.25s of the 3599.25s of remaining time.
	0.675	 = Validation accuracy score
	0.0s	 = Training runtime
	0.11s	 = Validation runtime
Fitting model: LightGBMXT_BAG_L1 ... Training model for up to 3599.12s of the 3599.11s of remaining time.
	0.78	 = Validation accuracy score
	207.47s	 = Training runtime
	0.09s	 = Validation runtime
Fitting model: LightGBM_BAG_L1 ... Training model for up to 3391.52s of the 3391.52s of remaining time.
	0.7675	 = Validation accuracy score
	189.34s	 = Training runtime
	0.08s	 = Validation runtime
Fitting model: RandomForestGini_BAG_L1 ... Training model for up to 3202.07s of the 3202.07s of remaining time.
	0.75	 = Validation accuracy score
	1.09s	 = Training runtime
	0.11s	 = Validation runtime
Fitting model: RandomForestEntr_BAG_L1 ... Training model for up to 3200.85s of the 3200.84s of remaining time.
	0.735	 = Validation accuracy score
	1.1s	 = Training runtime
	0.12s	 = Validation runtime
Fitting model: CatBoost_BAG_L1 ... Training model for up to 3199.61s of the 3199.6s of remaining time.
	0.82	 = Validation accuracy score
	4.86s	 = Training runtime
	0.04s	 = Validation runtime
Fitting model: ExtraTreesGini_BAG_L1 ... Training model for up to 3194.68s of the 3194.68s of remaining time.
	0.7175	 = Validation accuracy score
	1.07s	 = Training runtime
	0.11s	 = Validation runtime
Fitting model: ExtraTreesEntr_BAG_L1 ... Training model for up to 3193.47s of the 3193.47s of remaining time.
	0.725	 = Validation accuracy score
	1.08s	 = Training runtime
	0.11s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L1 ... Training model for up to 3192.25s of the 3192.24s of remaining time.
No improvement since epoch 3: early stopping
	0.7625	 = Validation accuracy score
	7.11s	 = Training runtime
	0.2s	 = Validation runtime
Fitting model: XGBoost_BAG_L1 ... Training model for up to 3184.85s of the 3184.84s of remaining time.
	0.7475	 = Validation accuracy score
	132.83s	 = Training runtime
	0.08s	 = Validation runtime
Fitting model: NeuralNetMXNet_BAG_L1 ... Training model for up to 3051.86s of the 3051.85s of remaining time.
	0.7125	 = Validation accuracy score
	18.94s	 = Training runtime
	0.63s	 = Validation runtime
Fitting model: LightGBMLarge_BAG_L1 ... Training model for up to 3032.25s of the 3032.24s of remaining time.
	0.765	 = Validation accuracy score
	765.24s	 = Training runtime
	0.08s	 = Validation runtime
Repeating k-fold bagging: 2/20
Fitting model: KNeighborsUnif_BAG_L1 ... Training model for up to 2266.89s of the 2266.89s of remaining time.
	0.6575	 = Validation accuracy score
	0.0s	 = Training runtime
	0.12s	 = Validation runtime
Fitting model: KNeighborsDist_BAG_L1 ... Training model for up to 2266.89s of the 2266.88s of remaining time.
	0.675	 = Validation accuracy score
	0.0s	 = Training runtime
	0.11s	 = Validation runtime
Fitting model: LightGBMXT_BAG_L1 ... Training model for up to 2266.88s of the 2266.88s of remaining time.
	0.765	 = Validation accuracy score
	392.63s	 = Training runtime
	0.17s	 = Validation runtime
Fitting model: LightGBM_BAG_L1 ... Training model for up to 2081.6s of the 2081.59s of remaining time.
	0.76	 = Validation accuracy score
	368.99s	 = Training runtime
	0.16s	 = Validation runtime
Fitting model: RandomForestGini_BAG_L1 ... Training model for up to 1901.83s of the 1901.83s of remaining time.
	0.75	 = Validation accuracy score
	1.09s	 = Training runtime
	0.11s	 = Validation runtime
Fitting model: RandomForestEntr_BAG_L1 ... Training model for up to 1901.83s of the 1901.82s of remaining time.
	0.735	 = Validation accuracy score
	1.1s	 = Training runtime
	0.12s	 = Validation runtime
Fitting model: CatBoost_BAG_L1 ... Training model for up to 1901.83s of the 1901.82s of remaining time.
	0.805	 = Validation accuracy score
	9.33s	 = Training runtime
	0.1s	 = Validation runtime
Fitting model: ExtraTreesGini_BAG_L1 ... Training model for up to 1897.29s of the 1897.28s of remaining time.
	0.7175	 = Validation accuracy score
	1.07s	 = Training runtime
	0.11s	 = Validation runtime
Fitting model: ExtraTreesEntr_BAG_L1 ... Training model for up to 1897.28s of the 1897.28s of remaining time.
	0.725	 = Validation accuracy score
	1.08s	 = Training runtime
	0.11s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L1 ... Training model for up to 1897.28s of the 1897.27s of remaining time.
No improvement since epoch 8: early stopping
No improvement since epoch 6: early stopping
No improvement since epoch 8: early stopping
No improvement since epoch 5: early stopping
	0.75	 = Validation accuracy score
	10.8s	 = Training runtime
	0.39s	 = Validation runtime
Fitting model: XGBoost_BAG_L1 ... Training model for up to 1893.31s of the 1893.3s of remaining time.
	0.7325	 = Validation accuracy score
	139.19s	 = Training runtime
	0.12s	 = Validation runtime
Fitting model: NeuralNetMXNet_BAG_L1 ... Training model for up to 1886.85s of the 1886.84s of remaining time.
	0.715	 = Validation accuracy score
	50.87s	 = Training runtime
	1.48s	 = Validation runtime
Fitting model: LightGBMLarge_BAG_L1 ... Training model for up to 1854.05s of the 1854.04s of remaining time.
	0.7725	 = Validation accuracy score
	1586.48s	 = Training runtime
	0.17s	 = Validation runtime
Completed 2/20 k-fold bagging repeats ...
Fitting model: WeightedEnsemble_L2 ... Training model for up to 360.0s of the 1032.67s of remaining time.
	0.8075	 = Validation accuracy score
	0.58s	 = Training runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 2567.93s ...
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("sentiment_analysis/")

*** Summary of fit() ***
Estimated performance of each model:
                      model  score_val  pred_time_val     fit_time  pred_time_val_marginal  fit_time_marginal  stack_level  can_infer  fit_order
0       WeightedEnsemble_L2     0.8075       0.214711     9.916116                0.001120           0.581162            2       True         14
1           CatBoost_BAG_L1     0.8050       0.097949     9.329972                0.097949           9.329972            1       True          7
2      LightGBMLarge_BAG_L1     0.7725       0.166701  1586.481089                0.166701        1586.481089            1       True         13
3         LightGBMXT_BAG_L1     0.7650       0.170517   392.634122                0.170517         392.634122            1       True          3
4           LightGBM_BAG_L1     0.7600       0.160803   368.991084                0.160803         368.991084            1       True          4
5   RandomForestGini_BAG_L1     0.7500       0.114062     1.089460                0.114062           1.089460            1       True          5
6    NeuralNetFastAI_BAG_L1     0.7500       0.387781    10.804144                0.387781          10.804144            1       True         10
7   RandomForestEntr_BAG_L1     0.7350       0.116587     1.097111                0.116587           1.097111            1       True          6
8            XGBoost_BAG_L1     0.7325       0.122570   139.188960                0.122570         139.188960            1       True         11
9     ExtraTreesEntr_BAG_L1     0.7250       0.114854     1.084907                0.114854           1.084907            1       True          9
10    ExtraTreesGini_BAG_L1     0.7175       0.111541     1.072133                0.111541           1.072133            1       True          8
11    NeuralNetMXNet_BAG_L1     0.7150       1.476099    50.867571                1.476099          50.867571            1       True         12
12    KNeighborsDist_BAG_L1     0.6750       0.113259     0.003663                0.113259           0.003663            1       True          2
13    KNeighborsUnif_BAG_L1     0.6575       0.115642     0.004982                0.115642           0.004982            1       True          1
Number of models trained: 14
Types of models trained:
{'StackerEnsembleModel_RF', 'StackerEnsembleModel_KNN', 'StackerEnsembleModel_NNFastAiTabular', 'WeightedEnsembleModel', 'StackerEnsembleModel_XGBoost', 'StackerEnsembleModel_LGB', 'StackerEnsembleModel_TabularNeuralNet', 'StackerEnsembleModel_XT', 'StackerEnsembleModel_CatBoost'}
Bagging used: True  (with 5 folds)
Multi-layer stack-ensembling used: False
Feature Metadata (Processed):
(raw dtype, special dtypes):
('category', [])                    :  2 | ['keyword', 'location']
('category', ['text_as_category'])  :  1 | ['text']
('int', [])                         :  1 | ['id']
('int', ['binned', 'text_special']) : 31 | ['text.char_count', 'text.word_count', 'text.capital_ratio', 'text.lower_ratio', 'text.digit_ratio', ...]
('int', ['text_ngram'])             : 22 | ['__nlp__.accident', '__nlp__.an', '__nlp__.and', '__nlp__.armageddon', '__nlp__.attack', ...]
Plot summary of models saved to file: sentiment_analysis/SummaryOfModels.html
*** End of fit() summary ***

In [11]:
# Inference time:
# test_data = TabularDataset('./datasets/nlp-getting-started/test.csv')  # another Pandas DataFrame
y_test = test_data[label]
test_data = test_data.drop(labels=[label], axis=1)  # delete labels from test data since we wouldn't have them in practice
print(test_data.head())

      id              keyword              location  \
155  221  airplane%20accident    Not a U.S resident
293  429           apocalypse         Harlingen, TX
38    56               ablaze                   NaN
82   119             accident                   NaN
173  248            ambulance  New York / Worldwide

                                                                                                                                             text
155                                                                        Usama bin Ladins family dead in airplane crash. Naturally no accident.
293                                                            My niece just asked me 'would you be scared if there was an apocalypse here?' ????
38   Barbados #Bridgetown JAMAICA ÛÒ Two cars set ablaze: SANTA CRUZ ÛÓ Head of the St Elizabeth Police Superintende...  http://t.co/wDUEaj8Q4J
82                                                               Can wait to see how pissed Donnie is when I tell him I was in ANOTHER accident??
173    Two air ambulances on scene of serious crash between two cars and lorry in ... - http://t.co/9pFEaQeSki http://t.co/fntG70rnkx | #EMSNeÛ_

In [12]:
predictor = TabularPredictor.load(save_path)  # Unnecessary, we reload predictor just to demonstrate how to load previously-trained predictor from file
y_pred = predictor.predict(test_data)
perf = predictor.evaluate_predictions(y_true=y_test, y_pred=y_pred, auxiliary_metrics=True)

Evaluation: accuracy on test data: 0.81
Evaluations on test data:
{
    "accuracy": 0.81,
    "balanced_accuracy": 0.8087113608992373,
    "mcc": 0.6182920693179746,
    "f1": 0.795698924731183,
    "precision": 0.8043478260869565,
    "recall": 0.7872340425531915
}

In [5]:
print('Accuracy = {:.2f}%'.format(perf["accuracy"] * 100))

Accuracy = 83.49%

In [6]:
test_data.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
9764,30,Private,151868,9th,5,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
9765,32,State-gov,104509,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,25,United-States
9766,22,Private,187592,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,30,United-States
9767,32,Private,49539,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,3674,0,40,United-States
9768,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States